body{
    margin: 0;
    padding: 0;
    
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    width: 100vw;
    height: 100vh;

    font-size: 2vw;
}

button{
    font-size: 3vw;
}

.display-selection{
    display: flex;
    justify-content: center;
    gap: 4em;
    flex-wrap: wrap ;
}

img{
    min-width: 10vw;
    height: 30vh;
}