*{
    font-size: 5vh;
}

body{
    text-align: center;
    padding-top: 1em;
}

.display-selection{
    display: flex;
    justify-content: center;
    gap: 1em;
}

img{
    width: 10em;
    height: auto;
}